.controller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.controller .button-left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  margin-bottom: 10px;
}

.controller .button-right {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  transform: rotate(335deg);
  grid-gap: 12px;
  margin-bottom: 10px;
}

.controller .button-right .start-button {
  transform: rotate(-335deg);
}

.controller .button-right .reset-button {
  transform: rotate(-335deg);
}
.controller button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  margin: 1px;
  outline: none;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.controller button:hover {
  background-color: #555;
}

.controller .up {
  grid-column: 2;
  grid-row: 1;
}

.controller .left {
  grid-column: 1;
  grid-row: 2;
}

.controller .down {
  grid-column: 2;
  grid-row: 3;
}

.controller .right {
  grid-column: 3;
  grid-row: 2;
}
